langchain
openai
httpx
langchain-openai
langchain-community
python-dotenv
streamlit
langserve
uvicorn
sse_starlette
faiss-cpu
pypdf
PyMuPDF
bs4
arxiv
wikipedia
langchainhub
langchain-groq
langchain-objectbox